* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background: #282828;
    max-height: 100vh;
}

.game--title {
    position: absolute;
    color: #61afff;
    font-size: 3rem;
    top: 4%;
    left: 33%;
}

.game {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    transform: translateY(9rem);

}

.cell {
    color: #fff;
    display: flex;
    position: relative;
    height: 5rem;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #61afff;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.reset {
    position: absolute;
    width: 110px;
    height: 50px;
    color: black;
    background: #61afff;
    bottom: 15%;
    right: 25%;
    font-weight: 700;
    font-size: medium;
}

.reset:hover {
    background: white;
    transform: translateY(-4px);
    transition: ease-in .2s;
}


.game--status {
    position: absolute;
    bottom: 15%;
    color: #61afff;
    font-size: 2.5rem;
    margin-left: 21px;



}